body{
   width: 70%; 
   margin: 0%;
   padding: 0%;
}
.header{
    display: flex;
}
.content{
    display: flex;
}
.footer{
    display: flex;
}

.picture{
   height: 207px;
    width: 442px;
    display: flex;
    justify-content: space-between;
     border: 2px solid black;
    margin: 4px;
   
}
.main{
    margin: 4px;
}
